.section{
    width: 90vw;
    margin: 0 auto;
    max-width: 620px;
}

.title{
    margin: 0;
    text-align: center;
    display: block;
    position: relative;
    ::before{
        content: '';
        position: absolute;
        display: inline;
        width: 100%;
        top: 100%;
        left: 50%;
        height: 1px;
        background: #000;;
        transform: translateX(-50%);
    }
}
