$clr-primary-10: hsl(186, 100%, 94%);
$clr-grey-3: hsl(208, 34%, 30%);

$clr-grey-9: hsl(212, 33%, 89%);
$clr-grey-5: hsl(210, 22%, 49%);
.taps-page {
  .section {
    width: 90vw;
    margin: 5rem auto;
    max-width: 1170px;
  }
  .loading {
    text-align: center;
  }
  .jobs-center {
    width: 80vw;
    margin: 0 auto;
    max-width: 1170px;
  }
  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .job-info {
    h4 {
      text-transform: uppercase;
      color: $clr-grey-5;
      background: $clr-grey-9;
      display: inline-block;
      padding: 0.375rem 0.75rem;
      border-radius: 5px;
    }
  }
  .job-btn {
    outline-color: $clr-primary-10;
    :hover {
      color: #2caeba;
      box-shadow: 0 2px #2caeba;
    }
  }
  .active-btn {
    color: #2caeba;
    box-shadow: 0 2px #2caeba;
  }
  .job-desc {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    align-items: center;
    margin-bottom: 1.25rem;
    p {
      margin-bottom: 0;
      color: $clr-grey-3;
    }
  }
  .job-icon {
    color: #2caeba;
  }
  .button-navigation {
    background: transparent;
    background-color: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    border-radius: 10px;
  }
  @media screen and(min-width:922px) {
    .jobs-center {
      width: 90vw;
      display: grid;
      grid-template-columns: 200px 1fr;
      column-gap: 4rem;
    }
    .btn-container {
      flex-direction: column;
      justify-content: start;
    }
    .button-navigation {
      margin-bottom: 2rem;
    }
  }
}
