.main{
    background: #4b145b;
    width: 100%;
    padding: 2rem 0;
    .container{
        background: rgb(240, 240, 240);
        margin: 1rem auto;
        padding: 2.5rem 2rem;
        border-radius: 5px;
    }
}
